*~
*.pyc

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.sar

# IntelliJ project files.
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# OS
.DS_Store

# Misc
*.swp