<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
  </script>
  <head>
    <title>Angular JS test page</title>
  </head>
  <body>
    <div ng-app="LordsCombat"  ng-controller="CompatInit">
      <div style="width:100%">
          <div style="width:30%;float:left;">
            <p>Level 1</p>
            {a troops.level1.inf.name a}: 
              <input ng-model="troops.level1.inf.count" type="number" min="0">
            <br/>
            {a troops.level1.arch.name a}: 
              <input ng-model="troops.level1.arch.count" type="number" min="0">
                        <br/>
            {a troops.level1.cav.name a}: 
              <input ng-model="troops.level1.cav.count" type="number" min="0">
            <br/>
            {a troops.level1.seige.name a}: 
              <input ng-model="troops.level1.seige.count" type="number" min="0">
          </div>
          <div  style="width:30%;float:left;">
            <p> percent {a troops.level1.inf.count a} </p>
          </div>
          <div style="width:30%;clear: left;">
            <p>Level 2</p>
            {a troops.level2.inf.name a}: 
              <input ng-model="troops.level2.inf.count" type="number" min="0">
            <br/>
            {a troops.level2.arch.name a}: 
              <input ng-model="troops.level2.arch.count" type="number" min="0">
            <br/>
            {a troops.level2.cav.name a}: 
              <input ng-model="troops.level2.cav.count" type="number" min="0">
            <br/>
            {a troops.level2.seige.name a}: 
              <input ng-model="troops.level2.seige.count" type="number" min="0">
          </div>
          <div style="width:30%float:left;">
            <p>Level 3</p>
            {a troops.level3.inf.name a}: 
              <input ng-model="troops.level3.inf.count" type="number" min="0">
            <br/>
            {a troops.level3.arch.name a}: 
              <input ng-model="troops.level3.arch.count" type="number" min="0">
            <br/>
            {a troops.level3.cav.name a}: 
              <input ng-model="troops.level3.cav.count" type="number" min="0">
            <br/>
            {a troops.level3.seige.name a}: 
              <input ng-model="troops.level3.seige.count" type="number" min="0">
          </div>
          <div style="width:30%;clear: left;">
            <p>Level 4</p>
            {a troops.level4.inf.name a}: 
              <input ng-model="troops.level4.inf.count" type="number" min="0">
            <br/>
            {a troops.level4.arch.name a}: 
              <input ng-model="troops.level4.arch.count" type="number" min="0">
            <br/>
            {a troops.level4.cav.name a}: 
              <input ng-model="troops.level4.cav.count" type="number" min="0">
            <br/>
            {a troops.level4.seige.name a}: 
              <input ng-model="troops.level4.seige.count" type="number" min="0">
          </div>
        </div>
      <div>
        <p>test</p>
      </div>
      <div>
        <p> Troops: |{a troops a}| </p>
      </div>
    </div>
  </body>
  <script>
    var app = angular.module("LordsCombat", []);
    app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{a').endSymbol('a}');
    });
    app.controller('CompatInit', function($scope) {
        $scope.troops = 
        {"level1": 
            {"inf": {"count": 0, "name": "Grunt"},
             "seige": {"count": 0, "name": "Ballista"}, 
             "arch": {"count": 0, "name": "Archer"}, 
             "cav": {"count": 0, "name": "Cataphract"}
            },
        "level2": 
            {"inf": {"count": 0, "name": "Gladiator"},
             "seige": {"count": 0, "name": "Catapult"}, 
             "arch": {"count": 0, "name": "Sharp Shootyer"}, 
             "cav": {"count": 0, "name": "Reptilan Raider"}
            },
         "level3": 
            {"inf": {"count": 0, "name": "Royal Guard"},
             "seige": {"count": 0, "name": "Fire Trebuchet"}, 
             "arch": {"count": 0, "name": "Stealth Sniper"}, 
             "cav": {"count": 0, "name": "Royal Cavalry"}
            },
         "level4": 
            {"inf": {"count": 0, "name": "Heroic Fighter"},
             "seige": {"count": 0, "name": "Destroyer"}, 
             "arch": {"count": 0, "name": "Heroic Cannoner"}, 
             "cav": {"count": 0, "name": "Anchent Drake Rider"}
            }
        }});
  </script>
</html>